@charset "UTF-8";
//通用样式
html,body,div,ul,li,p,img { padding: 0; margin: 0;}
html,body { height: 100%;}
ul,li { list-style: none;}
body { background: #fff; margin: 0 auto; font-family: "microsoft yahei"; color: #555; }
input,select,textarea { appearance: none; -webkit-appearance: none; border: 0; outline: none; font-size: rem(28);}

//随便写写的
.warp { padding: rem(50) rem(24);}
.form_list { font-size: rem(28); line-height: rem(60);}
.form_list input { width: rem(140); height: rem(32); border-bottom: 1px solid #ccc; padding: 0 rem(12);}