@media only screen and (min-width:750px){
    html {
        font-size: 75px;
        background: #8cbc8b;
    }
    body {
        width:750px;
        margin: 0 auto;
    }
}
@media only screen and (min-width:740px) and (max-width:750px){html{font-size:75px}}
@media only screen and (min-width:730px) and (max-width:740px){html{font-size:74px}}
@media only screen and (min-width:720px) and (max-width:730px){html{font-size:73px}}
@media only screen and (min-width:710px) and (max-width:720px){html{font-size:72px}}
@media only screen and (min-width:700px) and (max-width:710px){html{font-size:71px}}
@media only screen and (min-width:690px) and (max-width:700px){html{font-size:70px}}
@media only screen and (min-width:680px) and (max-width:690px){html{font-size:69px}}
@media only screen and (min-width:670px) and (max-width:680px){html{font-size:68px}}
@media only screen and (min-width:660px) and (max-width:670px){html{font-size:67px}}
@media only screen and (min-width:650px) and (max-width:660px){html{font-size:66px}}
@media only screen and (min-width:640px) and (max-width:650px){html{font-size:65px}}
@media only screen and (min-width:630px) and (max-width:640px){html{font-size:64px}}
@media only screen and (min-width:620px) and (max-width:630px){html{font-size:63px}}
@media only screen and (min-width:610px) and (max-width:620px){html{font-size:62px}}
@media only screen and (min-width:600px) and (max-width:610px){html{font-size:61px}}
@media only screen and (min-width:590px) and (max-width:600px){html{font-size:60px}}
@media only screen and (min-width:580px) and (max-width:590px){html{font-size:59px}}
@media only screen and (min-width:570px) and (max-width:580px){html{font-size:58px}}
@media only screen and (min-width:560px) and (max-width:570px){html{font-size:57px}}
@media only screen and (min-width:550px) and (max-width:560px){html{font-size:56px}}
@media only screen and (min-width:540px) and (max-width:550px){html{font-size:55px}}
@media only screen and (min-width:530px) and (max-width:540px){html{font-size:54px}}
@media only screen and (min-width:520px) and (max-width:530px){html{font-size:53px}}
@media only screen and (min-width:510px) and (max-width:520px){html{font-size:52px}}
@media only screen and (min-width:500px) and (max-width:510px){html{font-size:51px}}
@media only screen and (min-width:490px) and (max-width:500px){html{font-size:50px}}
@media only screen and (min-width:480px) and (max-width:490px){html{font-size:49px}}
@media only screen and (min-width:470px) and (max-width:480px){html{font-size:48px}}
@media only screen and (min-width:460px) and (max-width:470px){html{font-size:47px}}
@media only screen and (min-width:450px) and (max-width:460px){html{font-size:46px}}
@media only screen and (min-width:440px) and (max-width:450px){html{font-size:45px}}
@media only screen and (min-width:430px) and (max-width:440px){html{font-size:44px}}
@media only screen and (min-width:420px) and (max-width:430px){html{font-size:43px}}
@media only screen and (min-width:410px) and (max-width:420px){html{font-size:42px}}
@media only screen and (min-width:400px) and (max-width:410px){html{font-size:41px}}
@media only screen and (min-width:390px) and (max-width:400px){html{font-size:40px}}
@media only screen and (min-width:380px) and (max-width:390px){html{font-size:39px}}
@media only screen and (min-width:370px) and (max-width:380px){html{font-size:38px}}
@media only screen and (min-width:360px) and (max-width:370px){html{font-size:37px}}
@media only screen and (min-width:350px) and (max-width:360px){html{font-size:36px}}
@media only screen and (min-width:340px) and (max-width:350px){html{font-size:35px}}
@media only screen and (min-width:330px) and (max-width:340px){html{font-size:34px}}
@media only screen and (min-width:320px) and (max-width:330px){html{font-size:33px}}
@media only screen and (min-width:310px) and (max-width:320px){html{font-size:32px}}
@media only screen and (min-width:300px) and (max-width:310px){html{font-size:31px}}
@media only screen and (max-width:300px){html{font-size:30px}}