html, body, div, ul, li, p, img { padding: 0; margin: 0; }

html, body { height: 100%; }

ul, li { list-style: none; }

body { background: #fff; margin: 0 auto; font-family: "microsoft yahei"; color: #555; }

input, select, textarea { appearance: none; -webkit-appearance: none; border: 0; outline: none; font-size: 0.37333rem; }

.warp { padding: 0.66667rem 0.32rem; }

.form_list { font-size: 0.37333rem; line-height: 0.8rem; }

.form_list input { width: 1.86667rem; height: 0.42667rem; border-bottom: 1px solid #ccc; padding: 0 0.16rem; }

.scrollSelect { text-align: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.scrollSelect:before { display: block; content: ''; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); position: relative; z-index: 1; }

.scrollTitle { height: 0.85333rem; line-height: 0.85333rem; width: 100%; background: #eee; position: absolute; z-index: 3; bottom: 4rem; font-size: 0.37333rem; }
.scrollTitle p { position: relative; }
.scrollTitle .cancel, .scrollTitle .submit { position: absolute; top: 50%; margin-top: -0.30667rem; font-size: 0.34667rem; line-height: 0.4rem; padding: 0.10667rem 0.24rem; background: #cbcbcb; color: #666; border-radius: 0.13333rem; }
.scrollTitle .cancel { left: 0.32rem; }
.scrollTitle .submit { right: 0.32rem; background: #3297fd; color: #fff; }

.scrollContent { height: 4rem; width: 100%; background: #fff; position: absolute; z-index: 2; bottom: 0; font-size: 0.32rem; color: #ccc; line-height: 0.8rem; overflow: hidden; }
.scrollContent ul { position: relative; }
.scrollContent li { transition: all .2s; height: 0.8rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.scrollContent .scrollWarp { float: left; width: 100%; }
.scrollContent.level1 .scrollWarp { width: 100%; }
.scrollContent.level2 .scrollWarp { width: 50%; }
.scrollContent.level3 .scrollWarp { width: 33.3%; }
.scrollContent.level4 .scrollWarp { width: 25%; }
.scrollContent:after, .scrollContent:before { display: block; content: ''; width: 100%; height: 1px; background: #ddd; position: absolute; bottom: 2.4rem; }
.scrollContent:after { bottom: 1.6rem; }
.scrollContent .active { font-size: 0.37333rem; color: #555; }
.scrollContent .wait { font-size: 0.34667rem; color: #aaa; }

@media only screen and (min-width: 750px) { html { font-size: 75px; background: #8cbc8b; }
  body { width: 750px; margin: 0 auto; } }
@media only screen and (min-width: 740px) and (max-width: 750px) { html { font-size: 75px; } }
@media only screen and (min-width: 730px) and (max-width: 740px) { html { font-size: 74px; } }
@media only screen and (min-width: 720px) and (max-width: 730px) { html { font-size: 73px; } }
@media only screen and (min-width: 710px) and (max-width: 720px) { html { font-size: 72px; } }
@media only screen and (min-width: 700px) and (max-width: 710px) { html { font-size: 71px; } }
@media only screen and (min-width: 690px) and (max-width: 700px) { html { font-size: 70px; } }
@media only screen and (min-width: 680px) and (max-width: 690px) { html { font-size: 69px; } }
@media only screen and (min-width: 670px) and (max-width: 680px) { html { font-size: 68px; } }
@media only screen and (min-width: 660px) and (max-width: 670px) { html { font-size: 67px; } }
@media only screen and (min-width: 650px) and (max-width: 660px) { html { font-size: 66px; } }
@media only screen and (min-width: 640px) and (max-width: 650px) { html { font-size: 65px; } }
@media only screen and (min-width: 630px) and (max-width: 640px) { html { font-size: 64px; } }
@media only screen and (min-width: 620px) and (max-width: 630px) { html { font-size: 63px; } }
@media only screen and (min-width: 610px) and (max-width: 620px) { html { font-size: 62px; } }
@media only screen and (min-width: 600px) and (max-width: 610px) { html { font-size: 61px; } }
@media only screen and (min-width: 590px) and (max-width: 600px) { html { font-size: 60px; } }
@media only screen and (min-width: 580px) and (max-width: 590px) { html { font-size: 59px; } }
@media only screen and (min-width: 570px) and (max-width: 580px) { html { font-size: 58px; } }
@media only screen and (min-width: 560px) and (max-width: 570px) { html { font-size: 57px; } }
@media only screen and (min-width: 550px) and (max-width: 560px) { html { font-size: 56px; } }
@media only screen and (min-width: 540px) and (max-width: 550px) { html { font-size: 55px; } }
@media only screen and (min-width: 530px) and (max-width: 540px) { html { font-size: 54px; } }
@media only screen and (min-width: 520px) and (max-width: 530px) { html { font-size: 53px; } }
@media only screen and (min-width: 510px) and (max-width: 520px) { html { font-size: 52px; } }
@media only screen and (min-width: 500px) and (max-width: 510px) { html { font-size: 51px; } }
@media only screen and (min-width: 490px) and (max-width: 500px) { html { font-size: 50px; } }
@media only screen and (min-width: 480px) and (max-width: 490px) { html { font-size: 49px; } }
@media only screen and (min-width: 470px) and (max-width: 480px) { html { font-size: 48px; } }
@media only screen and (min-width: 460px) and (max-width: 470px) { html { font-size: 47px; } }
@media only screen and (min-width: 450px) and (max-width: 460px) { html { font-size: 46px; } }
@media only screen and (min-width: 440px) and (max-width: 450px) { html { font-size: 45px; } }
@media only screen and (min-width: 430px) and (max-width: 440px) { html { font-size: 44px; } }
@media only screen and (min-width: 420px) and (max-width: 430px) { html { font-size: 43px; } }
@media only screen and (min-width: 410px) and (max-width: 420px) { html { font-size: 42px; } }
@media only screen and (min-width: 400px) and (max-width: 410px) { html { font-size: 41px; } }
@media only screen and (min-width: 390px) and (max-width: 400px) { html { font-size: 40px; } }
@media only screen and (min-width: 380px) and (max-width: 390px) { html { font-size: 39px; } }
@media only screen and (min-width: 370px) and (max-width: 380px) { html { font-size: 38px; } }
@media only screen and (min-width: 360px) and (max-width: 370px) { html { font-size: 37px; } }
@media only screen and (min-width: 350px) and (max-width: 360px) { html { font-size: 36px; } }
@media only screen and (min-width: 340px) and (max-width: 350px) { html { font-size: 35px; } }
@media only screen and (min-width: 330px) and (max-width: 340px) { html { font-size: 34px; } }
@media only screen and (min-width: 320px) and (max-width: 330px) { html { font-size: 33px; } }
@media only screen and (min-width: 310px) and (max-width: 320px) { html { font-size: 32px; } }
@media only screen and (min-width: 300px) and (max-width: 310px) { html { font-size: 31px; } }
@media only screen and (max-width: 300px) { html { font-size: 30px; } }
